


<div *ngIf="userConnected==null">


<h1>REGISTER NOW!</h1>
<input type="text" placeholder="username" #login>
<input type="text" placeholder="password" #pwd><br>
<div *ngIf="msgError!=''">
  {{msgError}}
</div>
<button (click)="register(login,pwd)">Register</button>

<div *ngIf="signIn!=''">
  <h3>{{signIn}}</h3>
</div><br>
<h1>Sign In</h1>
<input type="text" placeholder="username" #username>
<input type="password" placeholder="password" #password><br>
<div *ngIf="msgErrorLogin!=''">
  {{msgErrorLogin}}
</div>




<button (click)="testlogin(username,password)">Sign In</button>
</div>
<div *ngIf="userConnected!=null">
  <app-home></app-home>
</div>

<router-outlet></router-outlet>
